@import url(//db.onlinewebfonts.com/c/be6ee7dae05b1862ef6f63d5e2145706?family=MonotypeOldEnglishTextW01);

body{
    margin: 0;
    background: whitesmoke;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}